{% load static %}

<section id="cta-cv" class="py-20 md:py-24 bg-slate-900/50">
    <div class="container mx-auto px-6 text-center">
         <h2 class="text-3xl font-bold text-white mb-4">Interessado em colaborar?</h2>
         <p class="max-w-2xl mx-auto text-slate-300 mb-8">
            O meu currículo contém detalhes aprofundados sobre a minha experiência, projetos e competências técnicas. Faça o download para saber mais.
        </p>
        <a href="{% static 'files/Meu_Curriculo.pdf' %}" download="Curriculo_Khalil_Ravikson.pdf" class="btn-primary font-semibold py-3 px-10 rounded-lg inline-flex items-center">
            <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path></svg>
            Download Currículo
        </a>
    </div>
</section>