<section id="home" class="min-h-screen flex items-center bg-cover bg-center hero-bg">
    <div class="container mx-auto px-6 text-left">
        <h1 class="text-4xl md:text-6xl font-bold text-white leading-tight mb-4">
            Engenharia de Computação & <br>
            <span class="accent-color">Inteligência Artificial</span>
        </h1>
        <p class="text-lg md:text-xl text-slate-300 max-w-2xl mb-8">
            Desenvolvendo soluções inovadoras com automação e redes neurais para impulsionar a análise de dados e otimizar processos complexos.
        </p>
        <div class="flex space-x-4">
            <a href="#projects-featured" class="btn-primary font-semibold py-3 px-8 rounded-lg">Ver Projetos</a>
            <a href="#cta-cv" class="btn-secondary font-semibold py-3 px-8 rounded-lg">Meu Currículo</a>
        </div>
    </div>
</section>
