<section id="technologies" class="py-20 md:py-32 bg-slate-900/50">
    <div class="container mx-auto px-6">
        <h2 class="section-title text-center mx-auto max-w-lg">Tecnologias e Ferramentas</h2>
        <p class="text-center text-slate-300 max-w-2xl mx-auto mb-12">As principais tecnologias que utilizo para transformar ideias em soluções robustas e eficientes.</p>
        <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8 gap-8 text-slate-400">
            </div>
    </div>
</section>
