<section id="testimonials" class="py-20 md:py-32">
    <div class="container mx-auto px-6">
        <h2 class="section-title text-center mx-auto max-w-lg">Depoimentos</h2>
        <p class="text-center text-slate-300 max-w-2xl mx-auto mb-12">O que colegas e líderes dizem sobre o meu trabalho e a minha dedicação.</p>
        <div class="grid md:grid-cols-1 lg:grid-cols-3 gap-8">
            
        

            <div class="glass-effect rounded-lg p-8">
                <p class="text-slate-300 italic">"Trabalhar com Khalil foi uma experiência de constante aprendizado. Seu conhecimento em Python e Django sempre foi essencial para o desenvolvimento de ferramentas internas, e ele sempre se mostrou proativo em novas tecnologias."</p>
                <div class="mt-6">
                    <p class="font-bold text-white">Viktor Wendel</p>
                    <p class="text-sm text-slate-400">Estagiário, CETIC-MA</p>
                </div>
            </div>

            <div class="glass-effect rounded-lg p-8">
                <p class="text-slate-300 italic">"Khalil é um colega extremamente colaborativo e focado em resultados. Ele não apenas resolve os problemas, mas também documenta o processo, garantindo que a equipe evolua junta. Sua capacidade analítica é um grande trunfo."</p>
                <div class="mt-6">
                    <p class="font-bold text-white">Cícero Gabriel</p>
                    <p class="text-sm text-slate-400">Estagiário, CETIC-MA</p>
                </div>
            </div>

        </div>
    </div>
</section>